*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* header start */

header{
    background-color: rgba(255, 144, 14, 0.10);
    width: 100%;
    padding: 50px 120px;
}
header img{
    width: 100%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}
nav h2{
    font-size: 26px;
    font-weight: 700;
}
nav ul{
    list-style-type: none;
}
nav li{
    padding: 10px;
}
nav li a{
    margin-right: 30px;
    text-decoration: none;
    font-size: 16px;
}
.header-text{
    text-align: center;
    margin: 30px auto;
    width: 500px;
}
.header-text h1{
    margin: 20px;
}
.header-text p{
    line-height: 25px;
    font-size: 14px;
    color: #555;
}
.btn{
    padding: 14px 22px;
    margin: 15px 0;
    font-size: 18px;
    background-color: #FF900E;
    color: #fff;
    border: none;
    border-radius: 8px;
}

/* main start */
main{
    width: 88%;
    margin: 50px auto;
}

/* team start */
.team-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.team-img{
    width: 48%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px;
}
.team-img img{
    width: 100%;
}
.team-text{
    width: 48%;
}
.team-text p{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #727272;
    margin: 20px 0;
}

/* banner section start */
.banner-section{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.banner-text{
    width: 45%;
}
.banner-text h1{
    font-size: 40px;
    font-weight: 700;
    border-left: 4px solid rgb(248, 109, 58);
    padding-left: 20px;
    margin: 40px 0 10px;
}
.banner-text p{
    font-size: 16px;
    color: #727272;
    line-height: 26px;
    margin: 20px 0;
}
.banner-div{
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    margin: 20px 0;
    padding: 20px 10px 10px;
}
.banner-div h3{
    font-size: 20px;
    color: #131313;
}
.banner-div p{
    font-size: 16px;
    color: #727272;
}
.banner-img{
    width: 45%;
}
.banner-img img{
    width: 100%;
    margin-left: 50px;
}
.badge{
    height: 150px;
    width: 280px;
    background-color: rgb(248, 122, 76);
    color: #FFF;
    border: 0;
    border-radius: 10px;
    text-align: center;
    position: relative;
    bottom: 80px;
    left: 0;
}
.badge h2{
    padding: 50px 40px 10px;
}
.badge p{
    padding: 0 40px 40px;
}

/* fact section start */

.fact-section{
    margin: 50px 0;
}
.fact-section h1{
    font-size: 40px;
    margin-top: 30px;
}
.fact-section p{
    font-size: 16px;
    color: #727272;
    line-height: 26px;
}
.fact-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;
    width: 100%;
}
.fact-box1{
    border: 1px solid rgb(251, 144, 23);
    width: 240px;
    height: 240px;
    border-radius: 10px;
    text-align: center;
    padding: 50px 0 10px;
}
.fact-box1 h2{
    font-size: 25px;
    margin-top: 10px;
    color: #424242;
}
.fact-box1 p{
    font-size: 16px;
    margin-top: 10px;
}
/* sponsor section start */

.sponsor{
    margin: 50px 0;
}
.sponsor h1{
    text-align: center;
    font-size: 42px;
    padding-top: 60px;
}
.sponsor p{
    text-align: center;
    font-size: 16px;
    color: #727272;
    line-height: 26px;
    margin: 10px 0 30px;
}
.sponsor-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0;
    padding-top: 30px;
}
.sponsor-items img{
    color: #727272;
}

/* footer start */
footer{
    height: 50px;
    background-color: #FFF4E7;
    border: 0;
    border-radius: 10px;
    margin: 80px auto;
    width: 65%;
}
footer h3{
    color: #555;
    text-align: center;
    font-size: 16px;
    padding: 15px 0 10px;
}

/* responsive for mobile device */

@media screen and (max-width: 576px){
    header{
        padding: 20px;
    }
    nav,.team-section,.fact-box,.sponsor-items{
        flex-direction: column;
    }
    .banner-section{
        flex-direction: column-reverse;
    }
    nav li a{
        font-size: 12px;
        margin-top: 30px;
    }
    header img{
        width: 100%;
    }
    .header-text{
        width: 90%;
    }
    .btn{
        padding: 12px 18px;
        font-size: 14px;
    }
    .team-img,.team-text ,.banner-img,.banner-text,.banner-div{
        width: 100%;
    }
    .team-text h1{
        margin-top: 30px;
        font-size: 28px;
    }
    .badge{
        width: 180px;
        height: 140px;
    }
    .banner-img,.banner-img,.banner-div{
        padding: 10px;
    }
    .fact-box1{
        margin-bottom: 20px;
    }
    .sponsor-items img{
        padding: 20px 0;
        color: #727272;
    }
    footer{
        width: 90%;
        overflow: hidden;
    }
    footer h3{
        font-size: 12px;
    }
}